{% extends 'layout.html' %}

{% block title %}Profile{% endblock %}

{% block content %}

<div class='tituloP'>
    <h1 class="tituloP">Error metas no ingresadas</h1>
    </div>
    <section class="section">
        <div class="container mt-5">
            <!-- Botón para abrir el modal -->
            <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#contactModal">
                <a class="abt"href="{{url_for('Metas')}}"></a>Regresar
            </button>

      
    </div>
    
    </section>

{% endblock %}
